* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 
.col-12Oldalt {width: 100%;}
.col-4-suti {width: 50%;}
.col-11x {width: 91.66%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    height: auto;
}

ul li{
    margin: 5px 0;
}

.suti {
    height: 300px;  
}

.col-4 ol li{
    margin: 10px 0;
}

@media screen and (max-width: 1300px){
    .col-11 .sutioldal .col-2{
        width:50%;
    }
    .col-11x .sutioldal .col-2{
        width:50%;
    }
    .col-4{
        width:50%;
    }
    .col-4-suti img{
        width: 100%;
    }
    .col-11 article{
        height: 1000px;
    }
    .col-11x article{
        height: 1000px;
    }
}

@media screen and (max-width: 1200px){  
    .col-4-suti{
        width:100%;
    }   
    .col-4-suti img{
        width: 80%;
    }
}

@media screen and (max-width: 1000px){
    .col-4{
        width:100%;
    }   
    .sutioldal img{
        width: 100%;
    }
    .sutioldal .col-4{
        padding-top: 150px;
    }
    .col-11 article{
        height: 1700px;
    }
    .col-11x article{
        height: 2200px;
    }
}

@media screen and (max-width: 1500px){
    .col-4-suti img{
        width: 100%;
    }

}

@media screen and (max-width: 800px){
    .col-12Oldalt{
       display: none;
    }
    .col-11{
        width:100%;
    }
    .col-11x{
        width:100%;
    }
    .sutioldal img{
        width: 100%;
    }
        .sutioldal .col-4{
        padding-top: 150px;
    }
    .col-11 article{
        height: 1700px;
    }
    .col-11x article{
        height: 2400px;
    }
}

.sutioldal img{
        width: 100%;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
} 

#parent {
  display: flex;
  background-color: #E89B3A;
  border-radius: 0px 0px 10px 10px;
}

body{
   background-color: #AA7839;
}

#foresz {
    display: flex;
}
div.logo {
    width: 100px;
    margin-right: 30px;
}
div.logoSzoveg{
    margin-top: 15px;
    flex: 1;
}
div.logo img {
    border-radius: 50%;
}
h1.logoSzoveg {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul li{
    list-style-image: url("media/list.png");
}

aside header{
     background-color: #FFA12A;
     border-radius: 10px 10px 0px 0px;
     padding-bottom: 10px;
}
article header{
     background-color: #E89B3A;
     border-radius: 10px 10px 0px 0px;
     margin: 20px;
     width: 100%
}
aside header h3{
    text-align: center;
}
aside header article{
    background-color: #E89B3A;
    border-radius: 10px 10px 0px 0px;
}
article{
    display: flex;
    background-color: #FFA12A;
    margin-right: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    margin-left: 10px;
}
aside.komment{
    
}

header.sarga{
   
}

a{
    height: 30%;
    color: black;
    text-decoration: none;
}

.sutioldal{
    
}

div.suti{
       padding: 5px;
       background-color: #FFAA00;
       height:300px;
    margin: 0px;
   border-radius: 10px;
    text-align: justify;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

div.suti p img{
    margin: 0px;
    padding: 0px;
    height: 80%;
    width: 60%;
    border-radius: 10px;
    margin-right: 5px;
}


div.suti img{
    float: left;
    margin: 0px;
       padding: 0px;
    height: 80%;
    width: 60%;
}
